absl-py==0.9.0
alembic==1.4.1
appnope==0.1.0
asgiref==3.2.5
astor==0.8.1
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
bcrypt==3.1.7
bleach==3.1.0
blinker==1.4
cachetools==4.1.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
cryptography==2.8
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
Django==3.0.4
django-filter==2.2.0
django-guardian==2.2.0
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
entrypoints==0.3
Flask==1.0.2
Flask-BabelEx==0.9.4
Flask-Compress==1.4.0
Flask-Cors==3.0.8
Flask-Gravatar==0.5.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.4.0
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gast==0.2.2
gekko==0.2.6
google-auth==1.13.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.28.1
h5py==2.10.0
idna==2.9
importlib-metadata==1.4.0
ipykernel==5.1.3
ipython==7.13.0
ipython-genutils==0.2.0
ipython-sql==0.3.9
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.10.3
json5==0.8.5
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.1
jupyterlab==1.2.4
jupyterlab-server==1.0.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Mako==1.1.2
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mistune==0.8.4
more-itertools==8.1.0
mpmath==1.1.0
nbconvert==5.6.1
nbformat==5.0.3
notebook==6.0.1
numpy==1.18.1
oauthlib==3.1.0
opencv-python==4.2.0.34
opt-einsum==3.2.0
pandas==1.0.1
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.6.2
passlib==1.7.1
pexpect==4.8.0
pgadmin4==4.17
pickleshare==0.7.5
Pillow==7.0.0
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==3.0.4
protobuf==3.11.3
psutil==5.5.1
psycopg2==2.8.5
psycopg2-binary==2.8.4
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.6.1
PyJWT==1.7.1
pylab==0.0.2
pymongo==3.10.1
PyNaCl==1.3.0
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2019.3
pyusb==1.0.2
PyVISA==1.10.1
PyVISA-py==0.3.1
pyzmq==17.1.2
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
scipy==1.4.1
Send2Trash==1.5.0
simplejson==3.16.0
simpy==3.0.11
six==1.14.0
speaklater==1.3
sql==0.4.0
SQLAlchemy==1.3.12
sqlparse==0.3.1
sshtunnel==0.1.5
sympy==1.5.1
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.3
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
wrapt==1.12.1
WTForms==2.2.1
zipp==1.0.0
